<!DOCTYPE html>
<head>
  <meta charset= "UTF-8">
  <title><%= title %></title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.4/css/materialize.min.css">
  <%= include_stylesheet("application")%>
  <%= display_favicon %>
  <%= include_javascript("application")%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
  <div class="row">
    <div class="col m8 offset-m2">
      <p>&nbsp;</p>
      <h3>MatScheduler - Your most reliable planner</h3>
      <p>&nbsp;</p>
    </div>
  </div>
  <%= yield %>
</body>
</html>